---
import LayoutBg from "../layouts/LayoutBg.astro";
---

<LayoutBg title="Works">
    <main>
        <h1>Works</h1>
    </main>
</LayoutBg>

<style>
    main {
        margin-top: 100px;
    }
</style>