---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <div class="image-profile-container">
        </div>
    </main>
</Layout>

<style>
    main {
        margin-top: 100px;
    }

    .image-profile-container {
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 10%;
    }

    .image-profile-container img {
        border-radius: 50%;
    }
</style>