---

---

<section id="footer" transition:name="footer-transition">
    <p><time datetime="2024">2024</time> | Developed by <a href="https://github.com/kaimdev">@KaimDev</a></p>
</section>

<style>
    #footer {
        width: 100%;
        text-align: center;
        font-size: 10px;
        font-weight: bolder;
    }

    a:hover {
        text-decoration: underline;
    }
</style>