---
---

<nav>
    <div class="nav-elements-container">
        <a class="home-path nav-item" href="/">KaimDev</a>

        <ul id="nav-urls">
            <li><a class="nav-item" href="/works">Works</a></li>
            <li><a class="nav-item" href="https://github.com/kaimdev">Github</a></li>
            <li><a class="nav-item" href="https://www.linkedin.com/in/kaimdev/">Linkedin</a></li>
        </ul>

        <div class="toggle-icon-container">
            <img id="toggle-icon" src="/moon.svg" alt="moon" width="16px" height="16ox" />
        </div>
    </div>
</nav>

<style>
    nav {
        background-color: var(--color-secondary);
        height: 45px;
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        border-bottom: 1px solid var(--bottom-line-color);
    }

    .nav-elements-container {
        margin: auto;
        display: flex;
        height: 100%;
        max-width: 800px;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .home-path {
        font-weight: bold;
    }

    #nav-urls {
        font-size: 13px;
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    #nav-urls li:hover {
        text-decoration: underline;
    }

    .toggle-icon-container {
        background-color: var(--button-toggle-color);
        height: 32px;
        width: 42px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    .toggle-icon-container:hover {
        cursor: pointer;
    }

    .slideInUp {
        animation: slideInUp 0.5s;
    }

    @keyframes slideInUp {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(100%);
            opacity: 0;
        }
    }

</style>

<script>
    import { LoadTheme } from "../scripts/LoadTheme";
    import { SaveTheme } from "../scripts/SaveTheme";

    let toggleIconContainer = document.querySelector('.toggle-icon-container');
    let toggleIcon = document.getElementById('toggle-icon')

    let navItems = document.querySelectorAll('.nav-item');
    let theme= ''

    toggleIconContainer.addEventListener('click', () =>
    {
        theme = localStorage.getItem('theme');
        toggleIconContainer.classList.add('slideInUp');

        document.documentElement.classList.add('transition');

        setTimeout(() =>
        {
            toggleIconContainer.classList.remove('slideInUp');
        }, 500);

        if (theme === 'light')
        {
            theme = 'dark';
            toggleIcon.setAttribute('src', '/sun.svg');
            document.documentElement.setAttribute('data-theme', theme);
        }
        else
        {
            theme = 'light';
            toggleIcon.setAttribute('src', '/moon.svg');
            document.documentElement.setAttribute('data-theme', theme);
        }

        SaveTheme(theme);
    });

    navItems.forEach(item =>
    {
        item.addEventListener('click', () =>
        {
            LoadTheme();
        });
    });
</script>