---
import Footer from "../components/footer.astro";
interface Props
{
    title: string;
}

const { title } = Astro.props;

import "@fontsource/jetbrains-mono";
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/400-italic.css";

import Navbar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline>
        // This script runs before the page is loaded
        document.addEventListener('DOMContentLoaded', () => {
            const theme = localStorage.getItem('theme');
            const attribute = document.documentElement.getAttribute('data-theme');

            if (theme === attribute)
                return;

            if (theme === 'light') {
                document.documentElement.setAttribute('data-theme', 'light');
            } else if (theme === 'dark') {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
        });

        window.addEventListener('load', () => {
            document.body.style.display = 'block';
        });
    </script>
</head>
<header>
    <Navbar />
</header>
<body>
<div class="slot-container">
    <slot />

    <footer>
        <Footer />
    </footer>
</div>
</body>
</html>
<style is:global>
    :root {
        --button-color: #7f85f6;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-family: "JetBrains Mono", monospace;
        background-image: url("/background-one.webp");
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--text-color);
    }

    html:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        z-index: -1;
    }

    body {
        display: none;
    }

    [data-theme="light"] {
        --color-primary: #f8f9d2;
        --color-secondary: #f2f3de;
        --text-color: #212020;
        --button-toggle-color: #9044f8;

        --nav-text-color: #212020;
    }

    [data-theme="dark"] {
        --color-primary: #1f1f23;
        --color-secondary: #202023;
        --text-color: #AAA;
        --button-toggle-color: #ece340;
        --bottom-line-color: #4d4d4d;

        --nav-text-color: #AAA;
    }

    .transition {
        transition: 0.5s;
    }

    a {
        color: var(--text-color);
        text-decoration: none;
    }

    .slot-container {
        width: 500px;
        margin: 0 auto;
        padding: 10px;
    }

    footer {
        margin: 50px;
    }
</style>